* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* general body coding */
body {
    background: url(../images/galaxy.jpg) no-repeat center center fixed;
    font-family: 'ScriptoramaMarkdownJF', sans-serif;
}

/* h1 styling */
h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 0 15%;
  margin-top: 5%;
}

/*circle styling */
#circle1 {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    text-align: center;
    margin: 8% 0 0 37%;
    position: absolute;
}

a {
  text-decoration: none;
  color: #282a63;
}




#colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 0 0 20%;
    font-size: 1.3rem;
}


.purple, .white, .black, .blue {
    margin-top: 70%;
    margin-left: -30%;
}

.white {
  padding-top: 19%;
}

.blue {
  padding-top: 20%;
}

#even_numbers, #odd_numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  font-size: 1.5rem;
  margin: 40% 0 0 5%;
}


/* circle glow styling */
  ul{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
  }

  ul li{
    list-style:none;
    width:40px;
    height:40px;
    background:#fff;
    border-radius: 5%;
    animation:grow 2s ease-in-out infinite;
  }

 
    @keyframes grow
    {
      0% , 40% , 100%
      {
        transform:scale(0.2);
      }
      20%{
         transform:scale(.8);
  
      }
    }
  
    ul li:nth-child(1){
    animation-delay:-1.8s;
    background:#7d90df;
    box-shadow:0 0 50px #7d90df; 
  }

    ul li:nth-child(2) {
    animation-delay:-1.6s;
    background:#C0C0C0;
    box-shadow:0 0 50px #C0C0C0;
  }
  
    ul li:nth-child(3) {
    animation-delay:-1.2s;
    background:#0d0639;
    box-shadow:0 0 50px #0d0639;
  }

    ul li:nth-child(4) {
        animation-delay:-1s;
        background:#8fafff;
        box-shadow:0 0 50px #8fafff;
        
    }

/* fortune animation */
.animation {
  animation-duration: 3s;
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animation {
  from {
      left: 5%;
  }
  to {
      right: 95%;
  }
}

