* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* general body coding */
body {
    background: url(../images/galaxy.jpg) no-repeat center center fixed;
    font-family: 'ScriptoramaMarkdownJF', sans-serif;
}

/* h1 styling */
h1 {
  color: white;
  font-size: 2.8rem;
  text-align: center;
  padding: 0 15%;
  margin-top: 5%;
}

/*circle styling */
#circle1 {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    text-align: center;
    margin: 8% 0 0 37%;
    position: absolute;
    border-color: #706fad;
    border-style: solid;
    border-width: 2px;
}

a {
  text-decoration: none;
  color: #1f2359;
}

#purple:hover, #two:hover, #three:hover {
  color: #6e4ae9;
}

#silver:hover, #four:hover, #five:hover {
  color: #aaa9ad;
}

#nite:hover, #six:hover, #seven:hover {
  color: #42457c;
}

#blue:hover, #eight:hover, #nine:hover {
  color: #42C0FB;
}

/* colors */
  #colors {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 30%;
      font-size: 1.3rem;
      text-align: left;
  }
  
  .blue {
    margin-left: 83%;
    padding-top: 60%;
  }

  .nite {
    padding-top: 66%;
    margin-left: 33%;
  }

  #colors a {
    padding: 0 8%;
  }


  /* numbers */
    #even_numbers, #odd_numbers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      font-size: 1.5rem;
      margin: 40% 0 0 5%;
    }

   /* poses */
   img {
    max-width: 260px;
    max-height: 260px;
    }

    #random_poses {
      margin: 20% 0 0 6%;
    }


/* circle glow styling */
  ul{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
  }

  ul li{
    list-style:none;
    width:40px;
    height:40px;
    background:#fff;
    border-radius: 5%;
    animation:grow 2s ease-in-out infinite;
  }

 
    @keyframes grow
    {
      0% , 40% , 100%
      {
        transform:scale(0.2);
      }
      20%{
         transform:scale(.8);
  
      }
    }
  
    ul li:nth-child(1){
    animation-delay:-1.8s;
    background:#6e4ae9;
    box-shadow:0 0 50px #6e4ae9; 
  }

    ul li:nth-child(2) {
    animation-delay:-1.6s;
    background:#aaa9ad;
    box-shadow:0 0 50px #aaa9ad;
  }
  
    ul li:nth-child(3) {
    animation-delay:-1.2s;
    background:#42457c;
    box-shadow:0 0 50px #42457c;
  }

    ul li:nth-child(4) {
        animation-delay:-1s;
        background:#42C0FB;
        box-shadow:0 0 50px #42C0FB;
        
    }

/* fortune animation */
.animation {
  animation-duration: 3s;
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animation {
  from {
      left: 5%;
  }
  to {
      right: 95%;
  }
}

